{#form that is called when creating a new booking#}
{% load static %}

{% block content %}
    <div class="row">

        <div class="col-8">
            <div id="booking-cards">
            </div>
        </div>

    {% load widget_tweaks %}
    <div class="calendar-booking{% if field.errors %} has-error{% endif %}">
        {{form.person.as_hidden}}
        <h5>Location </h5>
        {{form.location}}
        <h5>Title</h5>
        {{form.title}}
        <h5>Description</h5>
        {{form.description}}
        <h5>Group</h5>
        {{form.group}}
        <h5>Recurring</h5>
        {{form.repeat}}
        <!--select id="recurringEvent">
            <option value="noRepeat" id="noRepeat">Does not repeat</option>
            <option value="weekly" id="weekly">Repeat every</option>
        </select-->
        <h5>Queue   </h5>
        Should we queue your<br> booking if the time <br>is already taken?
        <select id="queueable" value="Should we queue your booking if the time is already taken?">
                <option style="display:none">asdasd</option>
                <option value="False" id="not_enqueue">Do not enqueue</option>
                <option value="True" id="enqueue">Queue my booking</option>
        </select>
        <h5>Starttime</h5>
        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true" id="startTime">
            <input type="text" class="form-control" value="Choose start time" id="startInput" onclick="resetClock()" required>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
        <h5>Endtime</h5>
        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true" id="endTime" >
            <input type="text" class="form-control" value="Choose end time" id="endInput" onclick="editClock()" required>
            <span class="input-group-addon" i id="endTimeSpan">
            <span class="glyphicon glyphicon-time" ></span>
            </span>
            </div>
        </div>
        <input type="text" value="" id="dayID" style="display:none">
        <p id="loc_getter">ttbar{{form.location.value|default_if_none:""}}</p>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var booking_data; //global variable for booking data
        var overlap = []; //put overlapping bookings here
        $(document).ready(function(){
        var $myForm = $('#createform')
        $myForm.submit(function(event){
            event.preventDefault()
        
            if (overlap.length){
                var qNo = 0;
                for (i=0;i<overlap.length;i++){
                    if (overlap[i].queueNo > qNo){
                        qNo = overlap[i].queueNo;
                    }
                }
                q == 0? 0:q++;
                var message = "You will become number " + q.toString() + " in line. Is this okay?"
                confirm(message)
            }
        
            
            // append start date to post request
            var start_time = document.getElementById("startInput").value;
            var end_time = document.getElementById("endInput").value;
            var $form_data = $(this).serialize()+"&start="+tempDay.id.toString() + " " + start_time + "&end="+tempDay.id.toString() + " " + end_time;
            $.ajax({
                method: "POST",
                url: '/booking/bookings_list/create_calendar/',
                data: $form_data,
                // close popup on success
                success: function() {
                    var modal = document.getElementById('booking-modal');
                    var date_format = tempDay.id.slice(0, 10);
                    modal.style.display = "none";
                    }
                })
            })
        });
        //check if booking overlaps when End time is deselected
        $('#endInput').on("blur", function(){
            var start = document.getElementById("startInput").value;//get start value for this booking
            start = tempDay.id + "T" + start + "Z";
            var end = tempDay.id + "T" + this.value + "Z";
            var loc = document.getElementById("id_location");
            var loc_val = loc.value; //get current value of lcoation
            var loc_opt = loc.innerHTML.split("\n"); //get options as array
            var loc_val_str = "value=\"" + loc_val + "\""; //format search parameter
            var loc_str; //store name of location here
            var regex = />.*</;
            for (i=0; i<loc_opt.length;i++){
                if (loc_opt[i].search(loc_val_str)> 0){
                    loc_str = loc_opt[i];
                    loc_str = loc_str.match(regex).toString();
                    console.log(loc_str)
                    var res = loc_str.substr(1, loc_str.lenght-2); //get ridd of ><brackets
                    loc_str = res;
                }
            }

            overlap = []; //put overlapping bookings here
            if (loc_str && this.value.length && start.length){
                $.each(booking_data, function(i, item){
                    var current = booking_data[i];
                    // var start_format = current.start.replace("T", " ").replace("Z", "");
                    // var end_format = current.end.replace("T", " ").replace("Z", "");
                    //TODO: check if start and end times have the same format
                    if (loc_str===current.location && current.start < end && current.end > start){
                        overlap.push(current);
                    }
                })
            }
            //check if 

            if (this.value == ''){
                alert("End time required")
            }

            else {
                $.each(booking_data, function(i, item){
                    // console.log(booking_data[i])
                })
            }
        })
        $("#startInput").blur(function(){
            console.log("blur")
        })
        $.ajax({
            method: "GET",
            url: '/booking/api',
            success: function(data) {
                var list_of_bookings = []
                $.each(data, function(i, item) {
                    booking_data = data;
                    var date = data[i].start;
                    // console.log("new" +newDate);
                    var date_format = date.slice(0, 10);
                    var start = date.slice(11, 16);
                    var newDate = start.replace(":", "");
                    //fetch name of day and pass along with form
                    var dayName = document.getElementById("dayID");
                    dayName.value = tempDay.children[1].innerHTML.trim();
                    
                    // console.log("loc: " + loc.checked + " value: " + loc.value);
                    // console.log("Location: " + data[i].location__name);

                    var loc = global_list[0][i].location__name;
                    loc = document.getElementById(loc);

                    //list bookings that are on the same date
                    if(tempDay.id === date_format && data[i].location__name === loc.value && loc.checked === true) {
                        console.log("okay")
                        booking = []
                        booking.push(newDate, start, data[i].end, data[i].title, data[i].person__first_name);
                        list_of_bookings.push(booking)

                        list_of_bookings.sort(function(a, b){return a[0] - b[0]});

                    }
                    //TODO: check if overlapping booking exists in API:
                    var booking = data[i]
                    // console.log(booking)
                    // console.log(tempDay)
                    var s_time = document.getElementById("startTime").value
                    var e_time = document.getElementById("endTime").value
                    if (booking.start <= tempDay.end && booking.end >= tempDay.start){
                        
                    }
                })
                for (var I = 0; I < list_of_bookings.length; I++) {
                    var div = document.createElement("div");
                    div.className = "col-sm-10";
                    var div2 = document.createElement("div");
                    div2.className = "card";
                    var div3 = document.createElement("div");
                    div3.className = "card-body";
                    var date = document.createElement("h5");
                    date.className = "card-title";
                    var start_time = list_of_bookings[I][1];
                    var end_time = list_of_bookings[I][2].slice(11, 16);
                    date.innerHTML = start_time + "-" + end_time;
                    var title = document.createElement("p");
                    title.className = "card-text";
                    var b_title = list_of_bookings[I][3]
                    title.innerHTML = b_title;
                    var name = document.createElement("h6");
                    name.className = "card-subtitle mb-2 text-muted";
                    var b_name = list_of_bookings[I][4]
                    name.innerHTML = b_name;

                    div3.appendChild(date);
                    div3.appendChild(title);
                    div3.appendChild(name);
                    div2.appendChild(div3);
                    div.appendChild(div2);
                    document.getElementById("booking-cards").appendChild(div);
                }
            }
        });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clockpicker.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock script %}