{#list displaying all bookings#}

{% for book in bookings %}
    {% if user.get_username == book.person.get_username %}
        {# Titles of bookings #}
        {% if bookings %}
            <thead class="table-title">
                <tr>
                    <th>{{ book.title }}</th>
                </tr>
            </thead>
        {% endif %}

        <tr>
            <td><b>What:</b> {{ book.description }}</td>
        </tr>
        <tr>
            <td><b>Location:</b> {{ book.location }}</td>
        </tr>
        <tr>
            <td><b>Time:</b> {{ book.start }} - {{ book.end }}</td>
        </tr>
        <tr>
            <td><b>Group:</b> {{ book.group }}</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn col js-update-booking" data-url="{% url 'booking_update' book.id %}">
                    Edit
                </button>
                <button type="button" class="btn btn-danger col js-delete-booking" data-url="{% url 'booking_delete' book.id %}">
                    Delete
                </button>
            </td>
        </tr>
    {% endif %}

    {% empty %}
        <tr>
            <td><p>Yay! You have no bookings. Stay in and enjoy your day!</p></td>
        </tr>

{% endfor %}
