{#form used for deleting bookings#}

<form method="post" action="{% url 'booking_delete' book.id %}" class="js-booking-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm booking deletion</h4>
        <button title="Close" type="button" id="close" class="btn" data-dismiss="modal">X</button>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the booking <strong>{{ book.title }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button title="Click to delete" type="submit" class="btn btn-danger">Delete booking</button>
    </div>
</form>

<script>
    var close = document.getElementById('close');
</script>