{#list displaying all bookings#}

{% for booking in filter.qs %}
    {# Titles of bookings #}
    {% if bookings %}
        <thead class='table-title'>
            <tr>
                <th>{{ booking.title }}</th>
            </tr>
        </thead>
    {% endif %}

    <tr>
        <td><b>What:</b> {{ booking.description }}</td>
    </tr>
    <tr>
        <td><b>Location:</b> {{ booking.location }}</td>
    </tr>
    <tr>
        <td><b>Date:</b> {{ booking.get_date.day }}, {{ booking.get_date.date}}</td>
    </tr>
    <tr>
        <td><b>Time:</b> {{ booking.get_date.start_time }} - {{ booking.get_date.end_time }}</td>
    </tr>
    <tr>
        <td><b>Group:</b> {{ booking.group }}</td>
    </tr>
    <tr>
        <td>
            <button type='button' class='btn col js-update-booking' data-url='{% url 'booking_update' booking.id %}'>
                Edit
            </button>
            <button type='button' class='btn btn-danger col js-delete-booking' data-url='{% url 'booking_delete' booking.id %}'>
                Delete
            </button>
        </td>
    </tr>
    {% empty %}
        <p>There are no bookings!</p>
{% endfor %}
