<!-- Filter content -->

<div data-backdrop="static" data-keyboard="false" href="#">
    <div class="modal-header">
        <h4 class="modal-title">Filter too see calendar</h4>
    </div>
    <div class="modal-body">
        <div class="container" id="filter-bookings" >
            <div class="filter-header">Type</div>
            <div class="tb aBlock">
                <input type="checkbox" class="large-checkbox">
                <label id="type"></label>
                <p></p>
            </div>
            <hr>

            <div class="filter-header">Locations</div>
            <div class="tb aBlock">
                {% for location in locations %}
                    <input type="checkbox" class="large-checkbox" id="{{ location }}" value="{{ location }}">

                    <label for="{{ location }}">{{ location }}</label>
                    <p></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="search-button" title="Click to see calendar" type="submit" class="btn btn-success" onclick="populate()" >Search</button>
    </div>
</div>


{% block script %}
    <script>
        $.ajax({
            method: "GET",
            url: '/booking/location_api',
            success: function(data) {
                $.each(data, function(i, item) {
                    var name = data[i].name;
                    var type = data[i].type;
                    console.log(name)
                    console.log(type)
                })
            }
        });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock script %}