{#form that is called when creating a new booking#}

{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/clockpicker.css' %}">


{% endblock %}
<!--
{% for field in form %}

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        {% if field.label != "Person" %}
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
        {% endif %}

            {% render_field field class="form-control" %}

        {% for error in field.errors %}

            <p class="help-block">{{ error }}</p>
        {% endfor %}

    </div>


{% endfor %}-->
    <div id="content-container" class="row">
        <div class="col-lg-6" id="booking-cards-con">
            <div id="booking-cards">
            </div>
        </div>
                {% load widget_tweaks %}
                <div class="col-lg-5" id="booking-fields">
                    <div class="col form-group">
                        {{form.person.as_hidden}}
                        {{form.location.as_hidden}}
                        <div>
                            <h5>Title</h5>
                            {{form.title}}
                        </div>
                        <div class="form-padding">
                            <h5>Location</h5>
                            {{form.location}}
                        </div>
                        <div class="form-padding">
                            <h5>Date</h5>
                            <input type="date" id="date">
                            {{ form.start.as_hidden }}
                            {{ form.end.as_hidden }}
                        </div>
                        <div class="form-padding">
                            <h5>Description</h5>
                            {{form.description}}
                        </div>
                        <div class="form-padding">
                            <h5>Group</h5>
                            {{form.group}}
                        </div>
                        <div class="form-padding">
                            <h5>Request Recurring</h5>
                            <select class="form-control" id="recurringEvent">
                                <option value="noRepeat" id="noRepeat">Does not repeat</option>
                                <option value="weekly" id="weekly">Repeat every</option>
                            </select>
                        </div>
                        <div class="form-padding">
                            <h5>Starttime</h5>
                            <div class="input-group clockpicker" data-placement="left" data-align="bottom" data-autoclose="true" id="startTime">
                                <input type="text" class="form-control" value="Choose start time" id="startInput" onclick="resetClock()" required>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-padding">
                            <h5>Endtime</h5>
                            <div class="input-group clockpicker" data-placement="left" data-align="bottom" data-autoclose="true" id="endTime" >
                                <input type="text" class="form-control" value="Choose end time" id="endInput" onclick="editClock()" required>
                                <span class="input-group-addon" i id="endTimeSpan">
                                <span class="glyphicon glyphicon-time" ></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% block script %}
<script>
    $(document).ready(function(){
    var $myForm = $('#createform');
    $myForm.submit(function(event){
        event.preventDefault()
        // append start date to post request
        var start_time = document.getElementById("startInput").value;
        var end_time = document.getElementById("endInput").value;
        var dates = document.getElementById("date").value
        console.log(dates)
        var $form_data = $(this).serialize()+"&start="+dates + " " + start_time + "&end="+dates + " " + end_time
        console.log($form_data)
        $.ajax({
            method: "POST",
            url: '/booking/bookings_list/create_calendar/',
            data: $form_data,
            // close popup on success
            success: function(data) {
                var modal = document.getElementById('booking-modal');
                modal.style.display = "none";
            },
                    triggerSuccessAlert(){
                }
            })
        })
    })
</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clockpicker.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


{% endblock script %}