{#list displaying all bookings#}

{% for booking in my_group_bookings_list %}

    <thead class="table-title">
        <tr>
            <th>{{ booking.title }}</th>
        </tr>
    </thead>

    <tr>
        <td><b>What:</b> {{ booking.description }}</td>
    </tr>
    <tr>
        <td><b>Location:</b> {{ booking.location }}</td>
    </tr>
    <tr>
        <td><b>Time:</b> {{ booking.start }} - {{ booking.end }}</td>
    </tr>
    <tr>
        <td><b>Group:</b> {{ booking.group }}</td>
    </tr>

    {% empty %}
        <p>Your groups have no bookings</p>

{% endfor %}
