{#form used for deleting bookings#}

<form method="post" action="{% url 'booking_delete' book.id %}" class="js-booking-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title">Confirm book deletion</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the book <strong>{{ book.title }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete book</button>
    </div>
</form>