{#list displaying all requested bookings#}
<table class="table borderless" id="booking-table">
    <!-- remember to change from my group bookings -->
    {% for request in requested %}

        <thead class="table-title">
            <tr>
                <th>{{ request.booking.title }}</th>
            </tr>
        </thead>

        <tr>
            <td><b>What:</b> {{ request.booking.description }}</td>
        </tr>
        <tr>
            <td><b>Location:</b> {{ request.booking.location }}</td>
        </tr>
        <tr>
            <td><b>Date:</b> {{ request.booking.get_date.0 }}, {{ request.booking.get_date.1}}</td>
        </tr>
        <tr>
            <td><b>Time:</b> {{ request.booking.get_date.2 }} - {{ request.booking.get_date.3 }}</td>
        </tr>
        <tr>
            <td><b>Group:</b> {{ request.booking.group }}</td>
        </tr>
        <tr>
            <td><b>Requested by:</b> {{ request.booking.person }}</td>
        </tr>
        <tr>
            <td><b>Recurring:</b> Every {{request.weekday}} </td>
        </tr>


        <tr>
            <td>
                <!--Remember to change from 'delete' to approve/disapprove -->
                <button type='button' class='btn btn-success col js-confirm-booking' data-url='{% url "booking_confirm" request.id %}'>
                    Approve
                </button>
                <button type='button' class='btn btn-danger col js-delete-booking' data-url='{% url "delete_request" request.id %}'>
                    Disapprove
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
        </tr>

        {% empty %}
            <h6 class="empty">You have no requested bookings!</h6>

    {% endfor %}

</table>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>