{#form used for confirming enqueued bookings#}

<form method="post" action="{% url 'booking_delete' book.id %}" class="js-booking-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm enqueuement</h4>
        <button title="Close" type="button" id="close" class="btn" data-dismiss="modal">X</button>
    </div>
    <div class="modal-body">
        <p class="lead">The time you tried to book is currently occupied. Would you like to queue your booking? </p>
    </div>
    <div class="modal-footer">
        <button title="Click to confirm" type="submit">Queue up!</button>
        <button title="Click to delete" type="button" class="btn" data-dismiss="modal" id="close">Cancel</button>
    </div>
</form>

<script>
    var close = document.getElementById('close');
</script>