/*CSS for my bookings page*/

.booking-container {
    width: 60%;
}
.borderless td{
    border:none;
}

#my-bookings-header {
    margin-top: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: green;
    font-size: 1.5rem;
    /*max-width: 80%;*/
    max-width: 50%;
    display: inline-block;
}

.my-bookings-header-2 {
    margin: 1rem;
    font-size: 1.6rem;
}


.my-booking-box {
    padding: 2rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    border: solid 1px #dfdfdf;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.booking-item {
    width: 100%;
    border-bottom: solid 1px #dfdfdf;
    margin-top: 1rem;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-description {
    font-weight: 500;
}

.table-title {
    font-size: 18px;
    border-top: 2px solid black;
}

#id_location, #id_person, #id_title, #id_start{
    width: 100%;
}

.all-bookings{
    word-break: break-word;
}
.my-bookings{
    width: 100%;
}

.group-bookings {
    width: 100%;
}

#filter-button{
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    alignment: center;
}

form{
  /*  width: 85%;
    alignment: center;
    margin-right: auto;
    margin-left:auto;*/


    /*margin: 1rem;
    width: 85%;
    alignment: center;
    display: inline-block;*/

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}


.replace{
    margin: 1rem;
    width: 95%;
    alignment: center;
    display: inline-block;
    word-break: break-word;
}



/* Delete and edit modal*/
/* The Modal (background) */
.modal-big {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* overflow: hidden; */
}

/* Modal Content/Box */
.booking-modal-contents {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}


/* Responsive design */
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* Responsive design */
/* Makes booking container bigger on smaller devices */
@media only screen and (max-width: 580px){
    .booking-container {
            width: 80%
    }

    .flex-container {
        flex-direction: column;
    }
    td{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    #filter-button{
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    #table-title{
        font-size: 90%;
        word-wrap: break-word;

    }
    .flex-container, form{
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    .my-booking-box{
        width: 100%;
    }
    .my-bookings,.group-bookings, form {
        width: 100%;
    }

}
@media only screen and (max-width: 1250px){

    td, .table-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    #filter-button{
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    form{
        align-self: center;
        width: 60%;
    }


}




