/*CSS for my bookings and all bookings page*/

.booking-container {
    width: 60%;
}
.borderless td {
    border:none;
}

#my-bookings-header {
    margin-top: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: green;
    font-size: 1.5rem;
    /*max-width: 80%;*/
    max-width: 50%;
    display: inline-block;
}

.my-bookings-header-2 {
    margin: 1rem;
    text-align: center;
    font-size: 1.6rem;
}

.my-booking-box {
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    border: solid 1px #dfdfdf;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 0px auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 0px auto;
    width: 100%;
}

.booking-item {
    width: 100%;
    border-bottom: solid 1px #dfdfdf;
    margin-top: 1rem;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-description {
    font-weight: 500;
}

.table-title {
    font-size: 18px;
    border-top: 2px solid black;
}

#id_location, #id_person, #id_title, #id_start {
    width: 100%;
}

/* Containers for list of bookings */
.all-bookings {
    width: 60%;
    margin: 1rem auto;
    word-break: break-word;
    padding: 1rem;
}

.my-bookings {
    width: 100%;
    margin: 0rem auto;
    padding: 1rem 3rem 3rem 3rem;
}

.group-bookings {
    width: 100%;
    margin: 0rem auto;
    padding: 1rem 3rem 3rem 3rem;
}

.group-width {
    width: 60%;
}

#create-booking {
    width: 100%;
    margin: 0px auto;
}

/* Filters on all booking */
form {
    margin: 0px auto;
}

#filter-form {
    width: 80%;
}

#filter-button {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.replace{
    width: 100%;
    alignment: center;
    display: inline-block;
    word-break: break-word;
}


/* Responsive design */
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* Buttons */
button.btn.col.js-update-booking:hover {
    background: #b4afaf54;
}

button.btn.col.js-update-booking {
    border: 1px solid #8080803b;
    background: #d3d3d32b;
}

button#filter-button {
    border: 1px solid #8080803b;
    background: #d3d3d32b;
}

button#filter-button:hover {
    background: #b4afaf54;
}

button#close {
    background: #00800000;
}


/* Responsive design */
/* Makes booking container bigger on smaller devices */
@media only screen and (max-width: 650px){
    .booking-container {
        width: 90%
    }
    .my-bookings,.group-bookings, .all-bookings, form {
        width: 100%;
        margin: 0px auto;
        padding: 0.8rem;
    }
    .flex-container {
        flex-direction: column;
    }
    td{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    #filter-button{
        width: 47%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    #table-title{
        font-size: 90%;
        word-wrap: break-word;

    }
    .flex-container, form{
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    .my-booking-box{
        width: 100%;
    }
}
@media only screen and (max-width: 1050px){
    .booking-container {
        width: 80%
    }
    .my-bookings,.group-bookings, .all-bookings, form {
        width: 100%;
        margin: 0px auto;
        padding: 0.8rem;
    }
}
@media only screen and (max-width: 1250px){

    td, .table-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    #filter-button{
        width: 47%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

