/* Styling for filter-box*/
#filtering-container{
    background: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.3);
    height: inherit;
    padding: 8%;
    z-index: 10002;
}

#filter-bookings {
    width: 60%;
}

.filter-header{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.filter-cursors{
    cursor: pointer;
}

/* Radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*Dropdown filter */
.type-header {
    font-size: 110%;
    display: inline-block;
    margin-top: 5%;
}
.filter-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin-top: 1.8%;
    margin-left: 1%;
    cursor: pointer;
    outline: none;
}

.filter-type {
    display: none;
    margin-top: 3%;
    margin-left: 5%;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 5%;
}

.info-text {
    font-size: 20px;
}

/* Tooltip */
.tooltip-info {
    position: relative;
    display: inline-block;
}
.tooltip-text {
    display: block;
}
.tooltip-info .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: lightslategray;
    color: #fff;
    border-radius: 6px;
    padding: 10px 10px;
    line-height: 15px;
    font-size: 12px;
    z-index: 1;
    top: 16px;
    left: 50%;
    margin-left: -60px;
}

.tooltip-info .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent lightslategray transparent;
}

.tooltip-info:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Collapse and expand filters menu */
.tb {
    margin:10px 0;
}
.aBlock table td {
     padding-left:15px;
}
.tb span+span, .collapsible {
    display:none;
}
.tb input[type="checkbox"]:checked ~ span {
    display:none;
}
.tb input[type="checkbox"]:checked ~ span+span{
    display:inline;
}
.tb input[type="checkbox"]:checked ~ .collapsible {
    display:table;
}

/* Dropdown for time select */
select {
    width: 100%;
}
#time-select {
    width: 100%;
}

/*Search button */
#search-button {
    bottom: 20px;
}

/*Responsive design*/
/*Make filter text smaller on smaller devices*/
@media only screen and (max-width: 995px) {
    .col-lg-3{
        font-size: 90%;
    }
    .type-header {
        font-size: 110%;
        display: inline-block;
        margin-top: 2%;
    }
    #filtering-container{
        padding: 4%;
    }
}

@media only screen and (max-width: 800px) {
    .type-header {
        font-size: 110%;
        display: inline-block;
        margin-top: 1% !important;
    }
}