/* Styling for filter-box*/
#filtering{
    margin: 10px;
    padding: 15px;
    background: white;
}

.filterHeader{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

.largeCheckbox {
    width: 15px;
    height: 15px;
}

/* Collapse and expand filters menu */
.tb {
    margin:10px 0;
}
.aBlock table td {
     padding-left:15px;
}
.tb span+span, .collapsible {
    display:none;
}
.tb input[type="checkbox"]:checked ~ span {
    display:none;
}
.tb input[type="checkbox"]:checked ~ span+span{
    display:inline;
}
.tb input[type="checkbox"]:checked ~ .collapsible {
    display:table;
}

/* Dropdown for time select */
select {
    width: 100%;
}
#timeSelect {
    width: 100%;
}

/*Search button */
#searchButton {
    bottom: 20px;
}

/* Removes filters for mobile version */
@media only screen and (max-width: 992px){
    #filtering{
            display:none;
    }
}