/*CCS for booking page and calendar */

/* Container for the booking page */
#booking-container {
    height: auto;
    width: 90%;
    padding: 1% 0% 1.5% 0%;
}

#calendar-container {
    height: auto;
    background: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.3);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    padding: 18px;

}

/* Controls and month header */
#control-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.label {
    background-color: #fff;
    padding: 20px;
    line-height: 2px;
    font-size: 1.6rem;
}
#previous {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    cursor: pointer;
    border: solid 1px #fff;
}
#next {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    cursor: pointer;
    border: solid 1px #fff;
}
#current-month {
    cursor: default;
}

#previous:hover {
    background: #f7f4f4;
}
#next:hover {
    background: #f7f4f4;
}

/*Calendar days*/
#calendar-box {
    display: flex;
}
.calendar-day {
    display: flex;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2);
    background-color: #fff;
    padding: 0px 15px 0px 15px;
    width: 13.6%;
    margin: 0.3%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #fff;
    font-weight: 500;
}
.calendar-day p {
    display: inline;
}
.calendar-day h1{
    font-size: 100%;
    padding: 5% 20% 15% 20%;
}

.calendar-day:hover {
    background: #eee;
}

/*Highlights today*/
.today {
    border-bottom: solid 2px #EC1E24;
    color: #EC1E24;
}

/* Restrictions for booking */
.restricted {
    opacity: .6;
    pointer-events: none;
}

button#close {
    background: #00800000;
}

/* Responsive design */
/* Make text smaller and removes "busy" sign and day name on smaller devices */
@media only screen and (max-width: 750px) {
    .calendar-day {
        padding: 10px 10px 0px 10px;
    }
    .calendar-day p {
        font-size: 90%;
        line-height: 30%;
        display: block;
    }
    .calendar-day h1{
        font-size: 100%;
        padding: 5% 15% 10% 15%;
    }
}
@media only screen and (max-width: 550px) {
    .calendar-day {
        height: 15%;
        padding:  6px 0px 0px 0px;
        margin-bottom: 2px;
    }
    .calendar-day p {
        font-size: 90%;
        line-height: 50%;
        display: block;
    }

    .calendar-day h1 {
        display: none;
    }
    .label {
        padding: 10px;
        font-size: 15px;
    }
    #control-box {
        display: flex;
        align-items: center;
    }
}


