/*CCS for booking page and calendar */

/* Container for the booking page */
#booking-container {
    height: auto;
    width: 60%;
    padding: 1% 0% 1.5% 0%;
}

#calendar-container {
    height: auto;
    background: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.3);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    padding: 18px;
}

/* Controls and month header */
#control-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.label {
    background-color: #fff;
    padding: 20px;
    line-height: 2px;
    font-size: 1.6rem;
}
#previous {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    cursor: pointer;
    border: solid 1px #fff;
}
#next {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    cursor: pointer;
    border: solid 1px #fff;
}
#current-month {
    cursor: default;
}

#previous:hover {
    background: #f7f4f4;
}
#next:hover {
    background: #f7f4f4;
}

/*Calendar days*/
#calendar-box {
    display: flex;
}
.calendar-day {
    display: flex;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2);
    background-color: #fff;
    padding: 0px 15px 0px 15px;
    width: 13.6%;
    margin: 0.3%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #fff;
    font-weight: 500;
}
.calendar-day p {
    display: inline;
}
.calendar-day h1{
    font-size: 100%;
    padding: 5% 20% 15% 20%;
}

.calendar-day:hover {
    background: #eee;
}

/*Highlights today*/
.today {
    border-bottom: solid 2px #EC1E24;
    color: #EC1E24;
}

/* Restrictions for booking */
.restricted {
    opacity: .6;
    pointer-events: none;
}

button#close {
    background: #00800000;
}

/* Capitalize first letter of word in filterbox */
p.type-header {
    text-transform: capitalize;
}
/* Alerts */
.booking-alert {
    position: fixed;
    left: 0px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    z-index: 1;
}
.alert-success {
    display: none;
    bottom: 0px !important;
    margin-bottom: 5%;
    padding: 3%;
}

.alert-warning {
    display: none;
    top: 0px !important;
    margin-top: 10%;
    padding: 4%;
}

/* Responsive for different screens devices */
@media only screen and (min-width: 1900px) {
    #booking-container {
        width: 84%;
    }
    .alert-warning {
        padding: 2%;
        font-size: 23px;
    }
    .alert-success {
        padding: 2%;
        font-size: 22px;
    }
    #filtering-container {
        font-size: 22px;
    }
}
@media only screen and (min-width: 1350px) {
    #booking-container {
        width: 82%;
    }
    .alert-warning {
        padding: 3%;
        font-size: 20px;
    }
    .alert-success {
        padding: 3%;
        font-size: 20px;
    }
    #filtering-container {
        font-size: 20px;
    }
    .filter-header {
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 1000px) {
    .alert-warning {
        padding: 3%;
    }
    .alert-success {
        padding: 3%;
    }
    #filtering-container {
        font-size: 16px;
    }
}
@media only screen and (min-width: 990px) {
    #booking-container {
        width: 88%;
    }
    #filtering-container {
        font-size: 14px;
    }
    .filter-header {
        font-size: 22px !important;
    }
    .calendar-day {
        font-size: 94%;
    }
    .calendar-day h1{
        font-size: 90%;
    }
}
@media only screen and (max-width: 990px) {
    #booking-container {
        width: 90%;
    }
    .booking-alert {
        width: 60%;
    }
    .alert-success {
        bottom: 0px !important;
        padding: 2%;
    }
    .calendar-day p{
        font-size: 100%;
    }
    .calendar-day h1{
        font-size: 98%;
    }
    .alert-warning {
        top: 70% !important;
        padding: 4%;
    }
}
@media only screen and (max-width: 800px) {
    .calendar-day {
        padding: 10px 10px 0px 10px;
    }
    .calendar-day p {
        line-height: 30%;
        display: block;
    }
    .calendar-day h1{
        padding: 5% 15% 10% 15%;
    }
    #filtering-container {
        font-size: 12px;
    }
    .filter-header {
        font-size: 18px !important;
    }
}
@media only screen and (max-width: 550px) {
    .calendar-day {
        height: 15%;
        padding:  6px 0px 0px 0px;
        margin-bottom: 2px;
    }
    .calendar-day p {
        font-size: 90%;
        line-height: 50%;
        display: block;
    }
    .calendar-day h1 {
        display: none;
    }
    .label {
        padding: 10px;
        font-size: 15px;
    }
    #control-box {
        display: flex;
        align-items: center;
    }
    .booking-alert {
        width: 80%;
    }
    .alert-success {
        bottom: 0px !important;
        margin-bottom: 5%;
        padding: 2%;
    }
    .alert-warning {
        top: 78% !important;
        padding: 2%;
    }
}


