/*CCS for booking page and calendar */

/* Container for the booking page */
#booking-container {
    height:auto;
    margin: 0.5%;
    padding: 2%;
}

#calendar-container {
    background: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.3);
    padding: 1.5%;
    display: flex;
    flex-direction: column;
}

/* Controls and month header */
#control-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.label {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    background-color: #fff;
    padding: 20px;
    line-height: 2px;
    font-weight: bold;
}
#previous {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    cursor: pointer;
    border: solid 1px #fff;
}
#next {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    cursor: pointer;
    border: solid 1px #fff;
}
#current-month {
    cursor: default;
}

#previous:hover {
    background: #f7f4f4;
}
#next:hover {
    background: #f7f4f4;
}

/*Calendar days*/
#calendar-box {
    display: flex;
}
.calendar-day {
    display: flex;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2);
    background-color: #fff;
    padding: 0.5%;
    width: 13.2%;
    margin: 0.5%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #fff;
    font-weight: 500;
}
.calendar-day p {
    display: inline;
}
.calendar-day h1{
    font-size: 100%;
    padding-bottom: 40%;
}

.calendar-day:hover {
    background: #eee;
}


/*Highlights today*/
.today {
    border-bottom: solid 2px #EC1E24;
    color: #EC1E24;
}

/* Restrictions for booking */
.restricted {
    opacity: .6;
    pointer-events: none;
}


/* The Modal (background) */
.modal-large {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 15% auto;
    margin-top: 0;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.form-control {
    display:flex;
}
form {
    display: grid;
}
#scheduleTable {
    font-size:50%;
    width:25%;
    display: flex;
    justify-content: left;
    margin-top:2%;
}



/* The Modal (background) */
.modal-big {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* overflow: hidden; */
}

/* Modal Content/Box */
.booking-modal-contents {
    background-color: #fefefe;
    margin: 5% auto!important; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.calendar-booking {
    float: right;
}

h4.modal-title  {
    margin: 0 auto;
}

/* Responsive design */
/* Make text smaller and removes "busy" sign on smaller devices */

@media only screen and (max-width: 480px) {
    .calendar-day p {
        font-size: 80%;
    }

    .calendar-day h1 {
        display: none;
    }
}

/* Make modal wider and text smaller on smaller devices */
@media only screen and (max-width: 800px) {

    h5, .calendar-booking, input, .form-control{
        font-size: 90%;
    }
    .booking-modal-contents {
        width: 85%;



    }
}

