/*CCS for booking page and calendar */

/* Container for the booking page */
#calendar-container {
    height:92vh;
    margin: 10px;
}

/*Calendar days*/
.calendar {
    display: block;
    width: 100%;
    height: 100%;
}
.calendar-day {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    background-color: #fff;
    padding: 2px 8px;
    width: 12%;
    margin: 1%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #fff;
    font-weight: 500;
}
.calendar-day p {
    display: inline;
}
.calendar-day h1{
    font-size: 100%;
    margin-top: 10%;
    padding-bottom: 40%;
}

.calendar-day:hover {
    background: #eee;
}

/* Controls and month header */
.controls {
    display: block;
    width: 98%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.label {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    background-color: #fff;
    padding: 20px;
    line-height: 2px;
    margin: 1%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #fff;
}
.previous {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    float: left;
}
.next {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.2);
    float: right;
}

/*Highlights today*/
.today {
    border-bottom: solid 2px #EC1E24;
    color: #EC1E24;
}

/* Restrictions for booking */
.restricted {
    opacity: .6;
    pointer-events: none;
}



