/*CSS for my bookings page*/

.booking-container {
    width: 60%;
}
.borderless td{
    border:none;
}

#myBookingsHeader {
    margin-top: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: green;
    font-size: 1.5rem;
    max-width: 50%;
    display: inline-block;
}

.myHeaders {
    margin: 1rem;
    font-size: 1.6rem;
}

.myBookingsBox {
    padding: 2rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    border: solid 1px #dfdfdf;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.booking-item {
    width: 100%;
    border-bottom: solid 1px #dfdfdf;
    margin-top: 1rem;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-description {
    font-weight: 500;
}

.table-title {
    font-size: 18px;
    border-top: 2px solid black;
}

/* Delete and edit modal*/
/* The Modal (background) */
.modal-big {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* overflow: hidden; */
}

/* Modal Content/Box */
.booking-modal-contents {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}


/* Responsive design */
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
