{% extends 'base.html' %}

{% load static %}

{% block extra_js%}
    <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}


{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<div class="myBookings">
    <h1 class="myBookingsHeader">
        My bookings
    </h1>

<div class="myBookingsBox">
<ul class="list-group">


<!--<p>Click <a data-toggle="modal" data-target="#modal" href="{% url 'news-create' %}">here</a> to show the modal</p>
    <div class="modal fade" id="modal"></div>
    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)
            $.ajax({
                url: "{% url 'news-create' %}",
                context: document.body
            }).done(function(response) {
                modal.html(response);
            });
        })

    </script>
-->

 <p> Hello, {{user.get_username}}<a href = "{% url "booking_new" %}">
     <button class="btn btn-outline-primary btn-sm" id = "newBookingButton">New booking</button></a></p>

<!-- Get all bookings for your user -->
    {% for booking in object_list %}
    {% if user.get_username == booking.person.get_username %}

    <br class="list-group-item ">
        <h5 class = "title-description">{{ booking.description}}</h5>
        Username: {{ booking.person.get_username}}
        </br> Start time: {{ booking.start}}
        </br> End time: {{ booking.end }}
        </br> Location: {{ booking.location }}
        <p>
        <button class="btn btn-outline-primary btn-sm" id = "editButton">Edit</button>
        <button class="btn btn-outline-primary btn-sm" id = "deleteButton">Delete</button>
        </p>
    </li>
    {% endif %}
    {% endfor %}


</ul>
</div>
</div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/expand_group_card.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/myBookings.js' %}"></script>
{% endblock script %}