{% extends 'base.html' %}

{% load static %}

{% block extra_js%}
    <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}


{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<h1>All bookings</h1>
<ul>
    <p>Welcome {{user.first_name}} {{ user.last_name }}</p>
    <p>These are all the bookings registered to date</p>
    {% for booking in bookings %}
    <li>{{ booking.name }} - {{ booking.person.get_username}} - {{ booking.contact_date }} - {{ booking.location }} -
        {{ booking.description }}  :
    </li>
    {% endfor %}
</ul>

<a href="{% url "booking_new" %}">New</a>

{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/expand_group_card.js' %}"></script>

{% endblock script %}