{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_bookings.css' %}">
{% endblock %}

{% block content %}
<div class="booking-container">
    <h1 id="myBookingsHeader">
        My bookings
    </h1>
    <div class="myBookingsBox">
        <h3> Hello, {{user.first_name}} {{ user.last_name }}</h3>

        <p class="myHeaders">My bookings</p>
        <div class="replace">
            <table class="table" id="booking-table">

            <tbody>
                {% include 'booking/includes/partial_booking_list.html' %}
            </table>
        </div>

        <p class="myHeaders">Group bookings</p>
        <div class="replace">
            <table class="table" id="booking-table">

            <tbody>
                {% include 'booking/includes/partial_groupbooking_list.html' %}
            </table>
        </div>

        <p>
            <button type="button" class="btn btn-primary js-create-booking" data-url="{% url 'booking_create' %}">
                <span class="glyphicon glyphicon-plus"></span>
                Create a new booking
            </button>
        </p>
    </div>
</div>

<div id="booking-modal" class="modal-big">
    <div id="modal-booking">
        <div class="booking-modal-contents">
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/bookings.js' %}"></script>
{% endblock script %}