{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

    <div class="container" id="booking-container">
        <div class="row">

            <div class="col" id="filtering" >
                <div class="container">
                    <div class="filter-header">Locations</div>
                    <ul class="top-level-menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li>
                            <a href="#">Offices</a>
                            <ul class="second-level-menu">
                                <li><a href="#">Chicago</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li>
                                    <a href="#">New York</a>
                                    <ul class="third-level-menu">
                                        <li><a href="#">Information</a></li>
                                        <li><a href="#">Book a Meeting</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">Jobs</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Seattle</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check1">
                        <label for="check1">Gløshaugen</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check2">
                        <label for="check2">Dragvoll</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check3">
                        <label for="check3">Annet</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check4">
                        <label for="check4">Annet</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check6">
                        <label for="check6">Annet</label>
                    </div>
                    <hr>

                    <div class="filter-header">Type</div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check7">
                        <label for="check1">Gymsal</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check8">
                        <label for="check1">Fotballbane</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check9">
                        <label for="check1">Volleyballbane</label>
                    </div>

                    <hr>
                    <div class="filter-header">Time durations</div>
                    <select class="custom-select custom-select-lg mb-3">
                        <option selected>30 min</option>
                        <option value="1">60 min</option>
                        <option value="2">90 min</option>
                        <option value="3">120 min</option>
                        <option value="3">180 min</option>
                    </select>
                    <!--<div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check7">
                        <label for="check7">30 min</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check8">
                        <label for="check8">60 min</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check9">
                        <label for="check9">90 min</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check10">
                        <label for="check10">120 min</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="large-checkbox" id="check11">
                        <label for="check11">180 min</label>
                    </div>
                    <br>-->
                    <div class="row">
                        <button class="btn btn-success col">Search</button>
                    </div>
                </div>
            </div>

            <div class="col-9" class="container">
                <div class="controls">
                    <p class="next label" onclick="nextMonth()"><i class="fa fa-arrow-right"></i></p>
                    <p class="previous label" onclick="previousMonth()"><i class="fa fa-arrow-left"></i></p>
                    <p id="current-month" class="label bold"></p>
                </div>

                <div id="calendar">

                </div>
            </div>

        </div>
    </div>
{% endblock content %}

{% block script %}
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/expand_group_card.js' %}"></script>

  <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
{% endblock script %}