{# My bookings container #}
{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/all_my_bookings.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking_modal.css' %}">
{% endblock %}

{% block content %}
    <div class="booking-container">
        {# Modal container #}
        <div id="booking-modal" class="modal-big">
            <div id="modal-booking">
                <div class="booking-modal-contents">
                </div>
            </div>
        </div>

        {# My bookings and group bookings #}
        <h1 id="my-bookings-header">
            My bookings
        </h1>

        <div class="my-booking-box">
            <form id="my-search">
                <input type="text" id="my-search-box" name="q" placeholder="Search for bookings" value="{{ request.GET.q }}"/>
                <input type="submit" class="btn btn-primary" value="Search"/>
            </form>
            <div class="flex-container">
                {# My bookings #}
                {% if user.is_authenticated %}
                    {% user_in_hs user as user_in_hs %}
                    {% if user_in_hs or request.user.is_superuser %}
                    <div class="my-bookings">
                        <p class="my-bookings-header-2">My bookings</p>
                        <div class="tab">
                            <button class="tablinks active" id="booked-tab" onclick="openCity(event, 'Booked')">Booked</button>
                            <button class="tablinks" id="queued-tab" onclick="openCity(event, 'Queued')">Queued</button>
                        </div>
                        <div class="scroll-content">
                            <div class="replace" id="books">
                                {% include 'booking/includes/partial_booking_list.html' %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}

                {# Group bookings #}
                <div class="group-bookings {% if user.is_authenticated and not user_in_hs and not request.user.is_superuser %} group-width {% endif %}">
                    <p class="my-bookings-header-2">Group bookings</p>
                    <div class="replace">
                        {% include 'booking/includes/partial_groupbooking_list.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/bookings.js' %}"></script>
{% endblock script %}